@import "tailwindcss";

@theme {
  --background-image-gradient: linear-gradient(
    145.37deg,
    rgba(255, 255, 255, 0.09) -8.75%,
    rgba(255, 255, 255, 0.027) 83.95%
  );
  --background-image-gradient-hover: linear-gradient(
    145.37deg,
    rgba(255, 255, 255, 0.1) -8.75%,
    rgba(255, 255, 255, 0.057) 83.95%
  );
  --background-image-shine: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0) 45%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 55%,
    rgba(255, 255, 255, 0) 100%
  );

  --color-cyan-1: #0091f70a;
  --color-cyan-2: #02a7f211;
  --color-cyan-3: #00befd28;
  --color-cyan-4: #00baff3b;
  --color-cyan-5: #00befd4d;
  --color-cyan-6: #00c7fd5e;
  --color-cyan-7: #14cdff75;
  --color-cyan-8: #11cfff95;
  --color-cyan-9: #00cfffc3;
  --color-cyan-10: #28d6ffcd;
  --color-cyan-11: #52e1fee5;
  --color-cyan-12: #bbf3fef7;

  --color-slate-1: #00000000;
  --color-slate-2: #d8f4f609;
  --color-slate-3: #ddeaf814;
  --color-slate-4: #d3edf81d;
  --color-slate-5: #d9edfe25;
  --color-slate-6: #d6ebfd30;
  --color-slate-7: #d9edff40;
  --color-slate-8: #d9edff5d;
  --color-slate-9: #dfebfd6d;
  --color-slate-10: #e5edfd7b;
  --color-slate-11: #f1f7feb5;
  --color-slate-12: #fcfdffef;

  --font-sans:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono:
    var(--font-sf-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

  --animate-spin-slow: spin 3s linear infinite;
  --animate-spin-fast: spin 1.5s linear infinite;

  @keyframes shine {
    0% {
      background-position: -100%;
    }

    100% {
      background-position: 100%;
    }
  }

  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }

    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes spin {
    0% {
      transform: rotate(360deg);
    }

    100% {
      transform: rotate(0deg);
    }
  }
}

@utility arrow-hide {
  appearance: textfield;

  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0px;
  }

  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

html {
  color-scheme: dark;
}

.popup-open iframe {
  pointer-events: none;
}

nav > div > div > .line {
  display: none;
}
