{
  "extends": [
    "custom/next",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/require-await": "off",
    "eslint-comments/require-description": "off",
    "react/display-name": "off"
  }
}
