//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# npm options
auth-type=legacy

# pnpm options
always-auth = true
enable-pre-post-scripts = true
link-workspace-packages = false
shamefully-hoist = true
shared-workspace-lockfile = true
strict-peer-dependencies = false
