@media (min-width: 1024px) {
  #navbar .flex-1.flex.items-center.gap-x-4:has(img.nav-logo):has(> a) {
    flex: none !important;
    width: calc(16.5rem - 1.75rem);
  }

  #navbar .flex.items-center.gap-4:has(.nav-tabs) {
    flex: 1 !important;
  }

  #navbar .ml-auto:has(.nav-tabs) {
    margin-left: 0 !important;
    justify-content: space-between;
    flex: 1 !important;
  }

  #navbar .gap-x-6:has(.nav-tabs) > nav {
    margin-left: auto !important;
  }
}

#footer {
  /* hide mintlify referral link */
  a[href*="mintlify.com"] {
    display: none;
  }
}
