body .collaboration-carets__caret {
  pointer-events: all;
  border-radius: 4px;
  animation: 3s 60s fadeOut forwards;

  &:hover .collaboration-cursor__label,
  &:hover {
    animation: 0.2s fadeIn forwards;
  }
}

body .collaboration-carets__label {
  color: rgb(3 7 18 / var(--tw-text-opacity, 1));
  padding-top: 1px;
  inset-block-start: -1.3em;

  animation: 0.3s 2s fadeOut forwards;

  border-radius: 4px;
  border-bottom-left-radius: 0;
  letter-spacing: -0.02em;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
