@import url(https://fonts.bunny.net/css?family=andika:400,400i,700,700i|inter:400,600|montserrat:100,200,300,400,500,600);
@import './monokai4.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }

  .shiki {
    background: inherit !important;
    counter-reset: line 0;
    display: block;
    gap: 0.3em;
    grid-auto-rows: 1em;
    grid-template-columns: min-content 1fr;
  }

  .shiki .line {
    display: inline-block;
    line-height: 20px;
    min-height: auto;
    vertical-align: middle;
    white-space: pre;
  }

  .shiki .line:last-child:before, .shiki .line:last-child span {
    padding-bottom: 30px;
  }

  .shiki .line:first-child:before, .shiki .line:first-child span {
    padding-top: 10px;
  }

  .shiki .line:before {
    background: #3d3a3a;
    color: #777;
    content: counter(line);
    counter-increment: line;
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    text-align: right;
  }

  .plainText .shiki .line:before {
    display: none;
  }
}
