@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Biotif';
  src: url('/static/fonts/Biotif-Regular.woff2') format('woff2'),
    url('/static/fonts/Biotif-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Biotif';
  src: url('/static/fonts/Biotif-Book.woff2') format('woff2'),
    url('/static/fonts/Biotif-Book.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Biotif';
  src: url('/static/fonts/Biotif-SemiBold.woff2') format('woff2'),
    url('/static/fonts/Biotif-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Biotif';
  src: url('/static/fonts/Biotif-Bold.woff2') format('woff2'),
    url('/static/fonts/Biotif-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Code';
  src: url('/static/fonts/FiraCode-Regular.woff2') format('woff2'),
    url('/static/fonts/FiraCode-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
