name: Lint
on:
  push:
    branches:
      - main
      - canary
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: read
  pull-requests: read
jobs:
  lint:
    runs-on: buildjet-2vcpu-ubuntu-2204
    container:
      image: node:22-slim
    steps:
      - name: Checkout Repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 1
      - uses: oven-sh/setup-bun@563911925f97b52638b2d040c6390de93f9f241a
      - name: Run Lint
        run: bunx @biomejs/biome@2.3.11 check .
        env:
          SKIP_ENV_VALIDATION: true
