name: Preview Release
on: 
  pull_request:
permissions:
  contents: read
  pull-requests: write
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
  preview-release:
    runs-on: buildjet-4vcpu-ubuntu-2204
    permissions: 
      contents: write
      pull-requests: write
    container:
      image: node:22
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: pnpm setup
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
      - name: Install packages
        run: pnpm install --frozen-lockfile
      - name: Run Build
        run: pnpm turbo run build --filter=./packages/*
      - name: Find changed packages
        id: changed_packages
        uses: tj-actions/changed-files@212f9a7760ad2b8eb511185b841f3725a62c2ae0
        with:
          files: packages/**
          dir_names: true
          dir_names_max_depth: 2
      - name: Publish changed packages to pkg.pr.new
        if: steps.changed_packages.outputs.all_changed_and_modified_files != ''
        run: pnpm dlx pkg-pr-new publish ${{ steps.changed_packages.outputs.all_changed_and_modified_files }}
