name: Preview Release
on: 
  pull_request:
permissions:
  contents: read
  pull-requests: write
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
  preview-release:
    runs-on: buildjet-4vcpu-ubuntu-2204
    permissions: 
      contents: write
      pull-requests: write
    container:
      image: oven/bun:1.3.6
    steps:
      - name: Checkout Repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 1
      - name: Install packages
        run: bun install --frozen-lockfile
      - name: Find changed packages
        id: changed_packages
        uses: tj-actions/changed-files@6da3c88b60ebf09464ada9b06fba5b6f2d34bb94
        with:
          files: packages/**
          dir_names: true
          dir_names_max_depth: 2
      - name: Run Build
        run: bun run build --filter='${{ steps.changed_packages.outputs.all_changed_and_modified_files }}'
        env:
          SPAM_ASSASSIN_HOST: ${{ secrets.SPAM_ASSASSIN_HOST }}
          SPAM_ASSASSIN_PORT: ${{ secrets.SPAM_ASSASSIN_PORT }}
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      - name: Publish changed packages to pkg.pr.new
        if: steps.changed_packages.outputs.all_changed_and_modified_files != ''
        run: bun pkg-pr-new publish ${{ steps.changed_packages.outputs.all_changed_and_modified_files }}
