name: Pull Request Title Check
on:
  pull_request:
    types: [opened, edited, synchronize]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  pull-requests: read
jobs:
  pull-request-title-check:
    runs-on: buildjet-2vcpu-ubuntu-2204
    container:
      image: node:22-slim
    steps:
      - name: Checkout Repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          force-depth: 1
      - name: pnpm setup
        uses: pnpm/action-setup@1e1c8eafbd745f64b1ef30a7d7ed7965034c486c
      - name: Check pull request title
        run: pnpm dlx tsx@4.21.0 ./scripts/pull-request-title-check.ts
