name: Pull Request Title Check
on:
  pull_request:
    types: [opened, edited, synchronize]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  pull-requests: read
jobs:
  pull-request-title-check:
    runs-on: buildjet-2vcpu-ubuntu-2204
    steps:
      - name: Checkout Repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 1
      - uses: oven-sh/setup-bun@563911925f97b52638b2d040c6390de93f9f241a
      - name: Check pull request title
        run: bun run ./scripts/pull-request-title-check.ts
