name: Release
on:
  push:
    branches:
      - main
      - canary
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
  release:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write
      contents: write
    container:
      image: node:22
    steps:
      - name: Checkout Repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 1
      - run: git config --global --add safe.directory $GITHUB_WORKSPACE
      # NPM 11 is required so that we can do trusted publishing.
      # See https://docs.npmjs.com/trusted-publishers#supported-cicd-providers
      - name: Install npm v11
        run: npm install -g npm@11
      - name: pnpm setup
        uses: pnpm/action-setup@1e1c8eafbd745f64b1ef30a7d7ed7965034c486c
      - name: Install packages
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Publish stable release
        run: pnpm tsx ./scripts/release.ts
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
