name: Release
on:
  push:
    branches:
      - main
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
  release:
    runs-on: buildjet-4vcpu-ubuntu-2204
    permissions: 
      contents: write
      pull-requests: write
    container:
      image: node:22
    steps:
      - name: Checkout Repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 2
      - run: git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: pnpm setup
        uses: pnpm/action-setup@1e1c8eafbd745f64b1ef30a7d7ed7965034c486c
      - name: Install packages
        run: pnpm install --frozen-lockfile --prefer-offline
      - name: Exit prerelease mode
        # This step errors if it is not in prerelease mode
        continue-on-error: true
        run: pnpm canary:exit
      - name: Create "version packages" pull request or publish release
        uses: changesets/action@v1.5.3
        with:
          version: pnpm run version
          publish: pnpm run release
          title: "chore(root): version packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
