name: Release Canary
on:
  push:
    branches:
      - canary
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
  release:
    name: release canary
    runs-on: buildjet-4vcpu-ubuntu-2204
    permissions:
      contents: write
      pull-requests: write
    container:
      image: oven/bun:1.3.6
    steps:
      - name: Checkout Repo
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          fetch-depth: 1
      - run: git config --global --add safe.directory $GITHUB_WORKSPACE
      - name: Install packages
        run: bun install --frozen-lockfile
      - name: Enter prerelease mode
        # This step errors if it is already in prerelease mode
        continue-on-error: true
        run: bun canary:enter
      - name: Create "version packages" pull request or publish release
        uses: changesets/action@v1.5.3
        with:
          version: pnpm run version
          publish: pnpm run release
          title: "chore(root): version packages"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
