name: Tests
on:
  push:
    branches:
      - main
      - canary
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions: 
  contents: read
  pull-requests: read
jobs:
  tests:
    runs-on: buildjet-4vcpu-ubuntu-2204
    container:
      image: node:22-slim
      credentials:
        username: ${{ vars.DOCKER_HUB_USERNAME || '' }}
        password: ${{ secrets.DOCKER_HUB_API_KEY || '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: pnpm setup
        uses: pnpm/action-setup@1e1c8eafbd745f64b1ef30a7d7ed7965034c486c
      - name: Install packages
        run: pnpm install --frozen-lockfile --no-optional --shamefully-hoist --prefer-offline
      - name: Run Build
        run: pnpm -r build
        env:
          SPAM_ASSASSIN_HOST: ${{ secrets.SPAM_ASSASSIN_HOST }}
          SPAM_ASSASSIN_PORT: ${{ secrets.SPAM_ASSASSIN_PORT }}
      - name: Run Tests
        run: pnpm -r test
        env:
          SPAM_ASSASSIN_HOST: ${{ secrets.SPAM_ASSASSIN_HOST }}
          SPAM_ASSASSIN_PORT: ${{ secrets.SPAM_ASSASSIN_PORT }}
