name: Tests
on:
  push:
    branches:
      - main
      - canary
  pull_request:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions: 
  contents: read
  pull-requests: read
jobs:
  tests:
    runs-on: buildjet-4vcpu-ubuntu-2204
    outputs:
      cache-hit: ${{ steps.pnpm-cache.outputs.cache-hit }}
    container:
      image: node:22-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: pnpm setup
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061
      - name: Install packages
        run: pnpm install --frozen-lockfile
      - name: Run Build
        run: pnpm build
        # We include the environment variables here so that the cache for turborepo
        # is not invalidated and builds are re-ran
        env:
          SPAM_ASSASSIN_HOST: ${{ secrets.SPAM_ASSASSIN_HOST }}
          SPAM_ASSASSIN_PORT: ${{ secrets.SPAM_ASSASSIN_PORT }}
      - name: Run Tests
        run: pnpm test
        env:
          SPAM_ASSASSIN_HOST: ${{ secrets.SPAM_ASSASSIN_HOST }}
          SPAM_ASSASSIN_PORT: ${{ secrets.SPAM_ASSASSIN_PORT }}
